<a href="https://colab.research.google.com/github/ishitha1611/Training/blob/main/TrainingDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1,2,3,4,5]
print(my_list[1:4])

[2, 3, 4]

In [2]:
x = 9
if x%2==0:
  print("Even")
else:
  print("odd")

odd

In [3]:
7%3==0

False

In [4]:
100%2==0

True

In [5]:
x=-5.6
if x>0:
  print('pos')
elif x<0:
  print('neg')
else:
  print('zero')

neg

In [13]:
x=15
if x>0:
  print('pos')
  if x>20:
    print('M')
  elif x>10:
    print('P')
  elif x<10:
    print('K')
  else:
    print('T')
elif x<0:
  print('neg')

  if x<-20:
    print('Q')
  elif x>-10:
    print('C')
  elif x>-30:
    print('Z')

else:
    print('Zero')

pos
P

In [28]:
x = str(input("Enter a name: "))
if x[0]=='t' or x[0]=='T':
  print("Yes")
else:
  print("No")

Enter a name: Telangana
Yes

In [29]:
x = str(input("Enter a name: "))
if x[0]=='t' or x[0]=='T':
  print("Yes")
elif x[0]=='s' or x[0]=='S':
  print("Yes")
elif x[0]=='m' or x[0]=='M':
  print("Yes")

else:
  print("No")

Enter a name: mumbai
Yes

In [31]:
x = str(input("Enter a name: "))
if x[0].lower() in ('t','s','m'):
  print("Yes")
else:
  print("No")

Enter a name: Telangana
Yes